<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}</title>
  </head>
  <body>
    <main>
      <h1>{{ .Title }}</h1>
      <p><a href="/design-sytem.html#tokens">The design system</a></p>
      {{- range .Paragraphs }}
      <p>{{ . }}</p>
      {{- end }}
    </main>
  </body>
</html>
